.conteiner{
    display: flex;
flex-direction: column;
max-width: 25%;


}

.input{
   border:1px solid brown;
   padding:16px;
   border-radius: 10px;
   margin:6px 0px;
   background: transparent;
color: brown;
}

.input:focus{
    background:brown;
}
