.conteiner{
    display: flex;
    flex-direction: column;
}

.input{
   border:1px solid brown;
   padding:16px;
   border-radius: 10px;
   margin:6px 0px;
   background: transparent;
   color: brown;
   text-align: center;
}

.input:focus{
    background:brown;
    color: white;
}

.button
{
    border:1px solid brown;
   padding:16px;
   border-radius: 10px;
   margin:6px 0px;
   background: transparent;
   color: brown;
}

/*Estilização quando o o cursor sobrepor o botão*/
.button:hover
{
    background:brown;
    color: white;
}